/Main App Backup
Main App/app/release/app-release.apk
Main App/app/release/output-metadata.json
Main App/app/release/output-metadata.json
/.idea
New-Projects/MigratedApp/.idea/discord.xml
New-Projects/MigratedApp/.idea/misc.xml
New-Projects/MigratedApp/.idea/compiler.xml
New-Projects/MigratedApp/.idea/gradle.xml
New-Projects/MigratedApp/.idea/vcs.xml
